@inherits LocalComponentBase

<div class="position-relative border-top">
    <MiniInfo IsSecondary="@false" Name="@nameof(JobView)" DateTime="@DateTime.Now" />

    <div class="status-string d-flex flex-column justify-content-center text-secondary text-uppercase" style="@Style">
        @Job.StatusString
    </div>

    @if (Job is SimpleJob simpleJob)
    {
        <SimpleJobView Job="@simpleJob" />
    }
    else if (Job is ComplexJob complexJob)
    {
        <ComplexJobView Job="@complexJob" />
    }
    else
    {
        <div>unknown job</div>
    }

</div>

@code {
    [Parameter]
    public Job Job { get; set; } = null!;

    String Style => $"margin-left: {1 + (Job.NestingLevel?.Level ?? 0)}em";
}
